@use './fonts.scss';
@use './variables.scss';

.container {
    flex: 1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    color: var(--text-primary);
}

body {
    background-color: var(--background-primary);
}

a {
    text-decoration: none !important;
}

h1 {
    font-weight: 600;
}