@use './variables.scss';

.filter-group {
    margin-bottom: 24px;

    label {
        display: flex;
        color: var(--text-secondary);
        margin-bottom: 8px;
        font-size: 16px;
    }

    input {
        width: 100%;
        padding: 12px;
        border: 2px solid var(--border-block);
        border-radius: 8px;
        background-color: var(--background-block);
        color: var(--text-primary);
        font-size: 16px;
        transition: border-color 0.3s;

        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }

        &::placeholder {
            color: var(--text-secondary);
        }
    }
}

.filter-range {
    display: flex;
    gap: 10px;

    input {

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &.error {
            border-color: #ff6b6b;
        }
    }

    .error-message {
        display: flex;
        color: #ff6b6b;
        font-size: 12px;
        margin: 4px 0 -20px;
        max-width: 220px;
    }
}