@use './variables.scss';

.filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.filter-panel {
    width: 400px;
    height: 100%;
    background-color: var(--background-primary);
    animation: slideIn 0.3s ease;
    border-radius: 20px 0 0 20px;

    &__header {
        padding: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 24px;
            margin: 0;
        }
    }

    &__close {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--text-secondary);
        font-weight: 800;
        padding: 4px;
        display: flex;
        align-items: center;
        transition: color 0.3s;

        &:hover {
            color: var(--text-primary);
        }
    }

    &__content {
        padding: 24px;
        flex-grow: 1;
        overflow-y: auto;
    }

    &__form {
        height: calc(100% - 73px);
        display: flex;
        flex-direction: column;
    }

    &__actions {
        padding: 24px;
        display: flex;
        gap: 16px;
    }

    &__button {
        flex: 1;
        padding: 12px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s;

        &_clear {
            background-color: var(--background-secondary);
            color: var(--text-primary);

            &:hover {
                filter: brightness(0.9);
            }
        }

        &_apply {
            background-color: var(--accent-color);
            color: white;

            &:hover {
                background-color: var(--accent-color-hover);
            }
        }
    }
}

.filter-group {
    margin-bottom: 24px;

    label {
        display: block;
        color: var(--text-secondary);
        margin-bottom: 8px;
        font-size: 16px;
    }

    select,
    input {
        width: 100%;
        padding: 12px;
        border: 2px solid var(--border-block);
        border-radius: 8px;
        background-color: var(--background-block);
        color: var(--text-primary);
        font-size: 16px;
        transition: border-color 0.3s;

        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }

        &::placeholder {
            color: var(--text-secondary);
        }
    }
}

.filter-genres {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 12px;

    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        input {
            cursor: pointer;
            width: auto;
            margin-right: 10px;
        }
    }
}

.filter-range {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}