html[data-theme='dark'] {
    // Colors for dark theme
    --background-primary: #131313;
    --background-secondary: #323537;

    --background-input: #323537;
    --border-input: #323537;

    --background-block: #242426;
    --border-block: #242426;

    --text-primary: #cbd0d6;
    --text-secondary: #80858B;
    --text-tertiary: #AFB2B6;

    --accent-color: #7B61FF;
    --accent-color-hover: #917CFF;
}

html[data-theme='light'] {
    // Colors for light theme
    --background-primary: #FFFFFF;
    --background-secondary: #AFB2B6;

    --background-input: #ffffff;
    --border-input: #AFB2B6;

    --background-block: var(--background-primary);
    --border-block: #AFB2B6;

    --text-primary: #353535;
    --text-secondary: #80858B;
    --text-tertiary: #AFB2B6;

    --accent-color: #7B61FF;
    --accent-color-hover: #917CFF;
}

* {
    --rating-high: #00A340;
    --rating-medium: #F3A608;
    --rating-low: #F45D2D;
}